html {
    scroll-behavior: smooth;
}

body {
    /*font-family: 'Futura';*/
    font-family: 'Poppins', sans-serif;
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 0.3s ease-out;
    transition: top 0.3s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}

.skip a:focus {
    top: 0px;
}

:focus {
    border: 2px solid;
}

.nav_links {
    display: flex;
    flex-direction: row;
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
}

.nav_item a {
    color: rgb(54, 54, 54);
    text-decoration: none;
}

.nav_item {
    color: rgb(54, 54, 54);
    text-decoration: none;
    padding: 10px;
}

.nav_item a:hover, a:focus {
    color: rgba(61, 61, 61, 0.692);
    transition: color .1s ease-in-out;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 0.2px solid rgb(211, 211, 211);
}

h1 {
    /*font-family: 'Futura';*/
    color: rgb(54, 54, 54);
    padding-left: 80px;
    font-size: 50px;
}

h2 {
    padding: 150px 150px 10px;
    color: rgb(54, 54, 54);
    font-size: 80px;
    font-style: bold;
    /*background-color: rgb(219, 219, 219);*/
}

p {
    color: rgb(54, 54, 54);
    padding: 0px 150px;
    padding-bottom: 150px;
    font-size: 20px;
    /*background-color: rgb(219, 219, 219);*/
}

p b {
    color: cornflowerblue;
}

.container {
    background-color: rgb(219, 219, 219);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    margin: auto;
    width: 95vw;
}

div {
    overflow: hidden;
}

.learn_more_bio {
    background-color: cornflowerblue;
    position: relative;
    left: 150px;
    top: -100px;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    color: white;
    width: 160px;
    height: 30px;
    border-radius: 12px;
}

.learn_more_bio:hover {
    background-color: rgb(206, 206, 206);
    color: cornflowerblue;
    cursor: pointer;
}
/*
.img-one {
    grid-column: 1 / 3;
    grid-row: 1 / 3
}

.img-two {
    grid-column: 3 /span 2;
    grid-row: 1 /span 2;
}

.img-three {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

.img-four {
    grid-column: 3 /span 2;
    grid-row: 3 / 5;
}
*/

footer {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 30px;
    color: rgb(54, 54, 54);
}
