html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: rgb(54, 54, 54);
}

.skip a {
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 0.3s ease-out;
    transition: top 0.3s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}

.skip a:focus {
    top: 0px;
}

:focus {
    border: 2px solid;
}

.nav_links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-right: 80px;
}

.nav_item a {
    color: rgb(54, 54, 54);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 30px;
}

.nav_item {
    color: rgb(54, 54, 54);
    text-decoration: none;
    padding: 9px;
}

.nav_item a:hover, a:focus {
    color: rgba(61, 61, 61, 0.692);
    transition: color .1s ease-in-out;
    border: none;
    box-shadow: inset -9px -9px 9px 0 rgba(255, 255, 255, 0.4), 
                inset 9px 9px 9px 0 rgba(0, 0, 0, 0.05);
}

.nav_item a.current {
    color: cornflowerblue;
    transform: translate(-50% -50%);
    border-radius: 30px;
    padding: 5px 20px;
    box-shadow: inset -9px -9px 9px 0 rgba(255, 255, 255, 0.4), 
                inset 9px 9px 9px 0 rgba(0, 0, 0, 0.05);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    /*border-bottom: 0.2px solid rgb(211, 211, 211);*/
    transform: translate(-50% -50%);
    border-radius: 30px;
    box-shadow: -9px -9px 9px 0 rgba(255, 255, 255, 0.4), 
                 9px 9px 9px 0 rgba(0, 0, 0, 0.05);
    margin: 20px;
}

header h1 {
    color: rgb(54, 54, 54);
    padding: 25px 80px;
    font-size: 60px;
}

.intro h2 {
    padding: 100px 150px 10px;
    color: rgb(54, 54, 54);
    font-size: 80px;
    font-style: bold;
    /*background-color: rgb(219, 219, 219);*/
}

.intro p {
    color: rgb(54, 54, 54);
    padding: 0px 150px;
    padding-bottom: 150px;
    font-size: 20px;
    /*background-color: rgb(219, 219, 219);*/
}

.intro p b {
    color: cornflowerblue;
}

.learn_more_bio {
    background-color: cornflowerblue;
    position: relative;
    left: 150px;
    top: -100px;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 12px;
}

.learn_more_bio:hover {
    /*background-color: rgb(206, 206, 206);*/
    background-color: rgba(100, 148, 237, 0.75);
    color: cornflowerblue;
    cursor: pointer;
}

.learn_more_bio a {
    color: white;
    text-decoration: none;
}

.container {
    background-color: rgb(219, 219, 219);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: auto;
    width: 95vw;
}

div {
    overflow: hidden;
}

.container img {
    object-fit: cover;
}

img {
    height: 800px;
    width: 800px;
}


/* ABOUT.HTML */
.about_me {
    margin-left: 20px;
    margin-right: 20px;
    padding: 50px 50px;
    height: 440px;
    background-color: white;
    color: rgb(54, 54, 54);
    transform: translate(-50% -50%);
    border-radius: 30px;
    box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.4), 
                 12px 12px 12px 0 rgba(0, 0, 0, 0.08);
}

.about_me h1, .about_me p {
    text-align: center;
    position: relative;
    left: 50%;
    top: -439px;
    background-color:white;;
    width: 50%;
    padding: 20px;
    font-size: 13px;
}

.tim {
    border-radius: 30px;
    max-width: 50%;
    height: auto;
}

.links {
    text-align: center;
    height: 50px;
    padding: 10px 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.links a {
    background-color: cornflowerblue;
    color: rgb(54, 54, 54);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 12px;
    margin: 10px;
    color: white;
    font-size: 13px;
}

.links a:hover {
    background-color: rgba(100, 148, 237, 0.75);
}

@media screen and (min-width: 850px){
    header h1 {
        /*font-family: 'Futura';*/
        color: rgb(54, 54, 54);
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 50px;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        padding-right: 80px;
        padding-left: 80px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 15px;
    }

    .nav_item {
        color: rgb(54, 54, 54);
        text-decoration: none;
        padding: 10px;
    }

    .container {
        background-color: rgb(219, 219, 219);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 400px 400px 400px 400px;
        margin: auto;
        width: 95vw;
    }

    .img-one {
        grid-column: 1 / 3;
        grid-row: 1 / 3
    }
    
    .img-two {
        grid-column: 3 /span 2;
        grid-row: 1 /span 2;
    }
    
    .img-three {
        grid-column: 1 / 3;
        grid-row: 3 / 5;
    }
    
    .img-four {
        grid-column: 3 /span 2;
        grid-row: 3 / 5;
    }
    
}

/* PROJECTS PAGE */
.projects {
    background-color: white;
    margin: 20px;
    padding: 20px;
}

.projects img {
    margin-top: 50px;
    width: 100%;
    height: auto;
}

.projects h1, .projects h2 {
    margin-top: 50px;
}

.projects p {
    margin: 10px;
}

/*FORM STYLING*/
form {
    border: 3px solid #f1f1f1;
    border-radius: 30px;
    padding: 60px;
}
  
legend { 
    font-size: 125%;
    text-transform: uppercase;
    text-align: center;
}
  
label{
    display: inline-block;
    margin-right:10px;
    width:15%;
    font-size: 14px;
}

input {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 30px;
}

textarea{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 35vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 30px;
}

input[type=checkbox]{
    display:inline;
    width:inherit;
}
  
input[type=submit] {
    background-color: cornflowerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
input[type=submit]:hover {
    opacity: 0.8;
}

label[for="message_id"] {
    position: relative;
    top: -120px;
}
  
  
/* Change styles for span and cancel button on extra small screens */
@media screen and (min-width: 770px) {
    form{
      width: 80%;
      margin: 0 auto;
    }
  
    input{
      width:80%;
    }
  
    textarea{
      width:80%;
      height: 25vh;
   }
}

.gcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 20px;
    width: 95vw;
    overflow: hidden;
}

.gcontainer img {
    object-fit: cover;
    display: block;
    max-width: 400px;
    max-height: 500px;
    width: auto;
    height: auto;
}

.img-1 {
    grid-column: 1 / 2;
    grid-row: 1 /2;
}
.img-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.img-3 {
    grid-column: 3 / 4;
}
.img-4 {
    grid-column: 1 / 2;
}
.img-5 {
    grid-column: 2 / 3;
}
.img-6 {
    grid-column: 3 / 4;
}
.img-7 {
    grid-column: 1 / 2;
}
.img-8 {
    grid-column: 2 / 3;
}
.img-9 {
    grid-column: 3 / 4;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
    font-size: 13px;
    position: relative;
    bottom: 0;
    width: 100vw;
    text-align: center;
    padding: 30px 0px;
    color: rgb(54, 54, 54);
}