html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    color: rgb(54, 54, 54);
    background-color: #f0f0f3;
    min-height: 100%;
}

html,body
{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#main:focus {
    outline: none;
    border: none;
}

.skip a {
    background: #f0f0f3;
    left: 0;
    padding: 6px;
    -webkit-transition: top 0.3s ease-out;
    transition: top 0.3s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}

.skip a:focus {
    top: 0px;
}

.line {
    width: 20px;
    height: 1px;
    background-color: rgb(54, 54, 54);
    margin: 4px;
}

.nav_links {
    text-transform: uppercase;
    font-size: 12px;

    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: #f0f0f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    clip-path: circle(0px at 88% 4%);
    -webkit-clip-path: circle(0px at 88% 4%);
    transition: all 0.5s ease-out;

    pointer-events: none;
}

.nav_links.open {
    clip-path: circle(1150px at 90% -10%);
    -webkit-clip-path: circle(1150px at 90% -10%);
    z-index: 999998;
    pointer-events: all;
}

.nav_item a {
    color: rgb(54, 54, 54);
    text-decoration: none;
    padding: 3px 12px;
    border-radius: 4px;
    font-weight: 500;
}

.nav_item {
    color: rgb(54, 54, 54);
    text-decoration: none;
    padding: 10px;
}

.nav_item a:hover, a:focus {
    border: none;
    background-color: #dbdbdb;
    transition: background-color 0.2s ease-in;
    /*box-shadow: inset -9px -9px 9px 0 rgba(255, 255, 255, 0.4), 
                inset 9px 9px 9px 0 rgba(0, 0, 0, 0.05);*/
}

.nav_item a.current {
    color: cornflowerblue;
    border: none;
    background-color: #dbdbdb;
    transition: background-color 0.2s ease-in;
    /*border-radius: 30px;*/
    padding: 3px 12px;
    /*box-shadow: inset -9px -9px 9px 0 rgba(255, 255, 255, 0.4), 
                inset 9px 9px 9px 0 rgba(0, 0, 0, 0.05);*/
}

header {
    position: relative;
    padding: 10px 10px;
    /*
    border-radius: 30px;
    box-shadow: -12px -12px 12px 0 rgba(255, 255, 255, 0.8), 
                 12px 12px 12px 0 rgba(0, 0, 0, 0.05);
    */
    margin: 30px;
}

.hamburger {
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 10px;
    z-index: 999999;
}

header h1 {
    font-family: "Futura", sans-serif;
    font-weight: 100;
    font-style: italic;
    color: rgb(54, 54, 54);
    font-size: 20px;
}

.intro {
    height: 350px;
}

.intro h2 {
    padding: 80px 10% 15px;
    color: rgb(54, 54, 54);
    font-size: 40px;
    font-style: bold;
}

.intro p {
    color: rgb(54, 54, 54);
    margin: 0px 10%;
    font-size: 15px;
}

.intro p b {
    color: cornflowerblue;
}

.more_buttons {
    display: flex;
    font-size: 9px;
    padding: 25px 10% 15%;
}

.learn_more_bio {
    background-color: cornflowerblue;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: #f0f0f3;
    width: 150px;
    height: 30px;
    border-radius: 4px;
    /*box-shadow: -9px -9px 9px 0 rgba(255, 255, 255, 0.8), 
                 9px 9px 9px 0 rgba(0, 0, 0, 0.05);*/
}

.more_projects {
    margin-left: 20px;
    font-size: 8px;

    line-height: 30px;
    width: 150px;
    height: 30px;
    /*border-radius: 30px;
    box-shadow: -9px -9px 9px 0 rgba(255, 255, 255, 0.8), 
                 9px 9px 9px 0 rgba(0, 0, 0, 0.05);*/
}

.learn_more_bio:hover {
    /*
    background-color: rgba(100, 148, 237, 0.9);
    color: cornflowerblue;
    cursor: pointer;
    */
    opacity: 0.9;
}

.more_buttons a {
    text-decoration: none;
}

/*
.more_projects:active {
    box-shadow: inset -9px -9px 9px 0 rgba(255, 255, 255, 0.8), 
                inset 9px 9px 9px 0 rgba(100, 100, 100, 0.01);
}

.learn_more_bio:active {
    box-shadow: inset -9px -9px 9px 0 rgba(100, 148, 237, 0.788), 
                inset 9px 9px 9px 0 rgba(100, 100, 100, 0.01);
}*/

.learn_more_bio a {
    color: #f0f0f3;
    text-decoration: none;
}

.more_projects a {
    color: cornflowerblue;
    text-decoration: none;
}

.more_projects a:hover {
    text-decoration: underline;
}

.container {
    position: relative;
    margin: 0px 10% 0px;
    background-color: #f0f0f3;
    display: grid;
    grid-template-columns: 85vw;
    grid-template-rows: 400px 400px;
    grid-row-gap: 7.5vw;
    justify-content: center;
    padding-bottom: 15vh;
}

div {
    overflow: hidden;
}

.container img {
    object-fit: cover;
}

img {
    width: 85vw;
    height: 400px;
}

.img-one, .img-two {
    position: relative;
}

.img-one:hover, .img-two:hover {
    padding: 5px;
    transition: padding .2s ease-in;
}

.img-one:hover .info, .img-two:hover .info{
    visibility: visible;
    opacity: 1;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: rgb(80, 80, 80);
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s ease-in, visibility .4s ease-in;
}
/* FLIP CARD 

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 750px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}
*/

/* ABOUT.HTML */
.about_me {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    padding: 2em;
    padding-bottom: 0.5em;
}

.about_me h1 {
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 2rem;
}

.about_me p {
    font-size: 13px;
    padding: 1rem;
    line-height: 1.5rem;
}

.tim {
    max-width: 100%;
    height: 400px;
    object-fit: cover;
}

.links {
    text-align: center;
    height: auto;
    padding: 10px 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links a {
    background-color: cornflowerblue;
    color: rgb(54, 54, 54);
    text-decoration: none;
    padding: 15px 70px;
    border-radius: 4px;
    margin: 20px;
    color: #f0f0f3;
    font-size: 13px;
}

.links a:hover {
    background-color: rgba(100, 148, 237, 0.75);
}

/* PROJECTS PAGE */
.bobile {
    background-image: url("../imgs/Artboard1.jpg");
    background-color: blue;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    padding: 2.5em 2.5em 10vh;
    font-size: 13px;
    justify-content: center;
}

.projects img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
}

.ht {
    margin-top: 20vh;
}

.projects h1 {
    font-size: 30px;
    margin: 2rem 0px 0px;
}

.projects p {
    padding: 16px;
    line-height: 1.5rem;
}

@media screen and (min-width: 600px) {
    .intro {
        height: 550px;
    }

    .intro h2 {
        padding: 150px 15% 15px;
        color: rgb(54, 54, 54);
        font-size: 50px;
        font-style: bold;
    }

    .intro p {
        color: rgb(54, 54, 54);
        margin: 0px 15%;
        font-size: 25px;
    }

    .projects {
        grid-template-columns: 400px;
        margin-top: 10vh;
    }

    .hamburger {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 35px;
    }

    .nav_links {
        /*position: static, height, width = 0px, flex-direction:row, */

        position: static;
        height: 31px;
        width: 330px;
        flex-direction: row;
        align-items: center;
        display: flex;
        font-size: 12px;
        padding-left: 20px;

        clip-path: none;
        -webkit-clip-path: none;
        pointer-events: all;
        transition: none;
    }

    .more_buttons {
        transform: scale(1.2);
        position: relative;
        left: 13%;
        top: 40px;
    }

    .container {
        margin: 0px 15% 0px;
        grid-template-columns: 100%;
        grid-column-gap: 50px;
        grid-row-gap: 50px;
        grid-template-rows: 400px 400px;
        justify-content: center;
    }

    img {
        width: 100%;
        height: 400px;
    }

    .info {
        position: absolute;
        top: 10%;
        left: 6%;
        transform: none;
        font-size: 10px;
        color: rgb(80, 80, 80);
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s ease-in, visibility .4s ease-in;
    }

    .about_me {
        display: grid;
        grid-template-columns: 250px 300px;
        grid-template-rows: 550px 50px;
        grid-column-gap: 1rem;
        grid-row-gap: 0;
        margin: 0px;
        padding: 0px 2em 0px;
        margin-top: 7vh;
        height: 70vh;
        justify-content: center;
        align-items: center;
    }

    .about_me h1 {
        text-transform: uppercase;
        font-size: 30px;
        padding: 1rem;
        padding-right: 0px;
    }

    .about_me p {
        font-size: 10px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 0px;
        line-height: 1rem;
    }

    .tim {
        object-fit: cover;
        max-width: 100%;
        height: 400px;
    }

    .links {
        flex-direction: row;
        padding: 0;
        margin: 0;
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 1050px) {
    .intro {
        height: 706px;
    }

    .projects {
        grid-template-columns: 400px 500px;
        grid-template-rows: 400px 400px;
        grid-column-gap: 2rem;
        margin: 0px;
        padding: 0px;
        margin-top: 7vh;
        margin-bottom: 7vh;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .projects h1 {
        margin: 0px;
    }

    .projects img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }

    .ht {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    header {
        padding: 5px 35px;
    }

    .intro h2 {
        padding-top: 212px;
        font-size: 60px;
    }

    .intro p {
        font-size: 30px;
    }

    .more_buttons {
        transform: scale(1.5);
        position: relative;
        left: 25%;
        top: 100px;
    }
    /*
    .container {
        margin: 0px 15% 0px;
        grid-template-columns: 50% 50%;
        grid-column-gap: 2em;
        grid-row-gap: 2em;
        grid-template-rows: 600px 600px;
        justify-content: center;
    }
    
    img {
        width: 100%;
        height: 600px;
    */
    .container {
        grid-template-rows: auto auto;
    }

    img {
        width: 100%;
        height: auto;
    }

    .info {
        position: absolute;
        top: 10%;
        left: 8%;
        font-size: 16px;
        color: rgb(80, 80, 80);
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s ease-in, visibility .4s ease-in;
    }
    
    .about_me h1 {
        font-size: 60px;
    }

    .about_me p {
        font-size: 14px;
        line-height: 3rem;
        padding: 1.5rem;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
    }

    .nav_item {
        color: rgb(54, 54, 54);
        text-decoration: none;
        padding: 10px;
    }

    .about_me {
        display: grid;
        grid-template-columns: 400px 500px;
        grid-template-rows: 650px 50px;
        grid-column-gap: 1rem;
        margin: 0px;
        padding: 0px;
        margin-top: 7vh;
        height: 70vh;
        justify-content: center;
        align-items: center;
    }

    .about_me h1 {
        text-transform: uppercase;
        font-size: 30px;
        padding: 1rem;
        padding-right: 0px;
    }

    .about_me p {
        font-size: 13px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 0px;
        line-height: 1.5rem;
    }

    .tim {
        object-fit: cover;
        max-width: 100%;
        height: 500px;
    }
}

/*FORM STYLING*/
form {
    margin-top: 50px;
    border: 3px solid #f0f0f3;
    border-radius: 15px;
    padding: 60px;
}

legend {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: inline-block;
    margin-right: 10px;
    width: 15%;
    font-size: 13px;
}

input {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 6px;
}

textarea {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    width: 100%;
    height: 10vh;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 6px;
}

input[type="checkbox"] {
    display: inline;
    width: inherit;
}

input[type="submit"] {
    background-color: cornflowerblue;
    color: #f0f0f3;
    padding: 14px 20px;
    margin: 30px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (min-width: 770px) {
    form {
        width: 40%;
        margin: 0 auto;
        margin-top: 100px;
    }

    input {
        width: 80%;
    }

    textarea {
        width: 80%;
        height: 10vh;
    }

    div + label {
        line-height: 5vh;
        vertical-align: top;
    }
}

.g-block {
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

.gcontainer {
    margin: auto;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px 400px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    padding-top: 20px;
    padding-bottom: 200px;
}

.gcontainer img {
    object-fit: cover;
    width: 400px;
    height: 400px;
}

.flip-card {
    background-color: transparent;
    width: 1fr;
    height: 400px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
}

.flip-card-back {
    position: relative;
    background-color: black;
    color: #dbdbdb;
    transform: rotateY(180deg);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
    font-size: 13px;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    text-align: center;
    padding: 30px 0px;
    color: rgb(54, 54, 54);
}
